BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
BreakBeforeBraces: Attach
ColumnLimit: 100
PointerAlignment: Left
SpacesBeforeTrailingComments: 1
Language: Cpp
Standard: Latest
SortIncludes: true
# SortIncludes: Never, CaseSensitive, CaseInsensitive
SpaceAfterControlStatementKeyword: true
SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: ControlStatements
IndentPPDirectives: None
# SpaceAfterComma: true
InsertTrailingCommas: None
SpaceAfterCStyleCast: false
SpaceAfterLogicalNot: false
SpaceBeforeCaseColon: false
SpaceBeforeCpp11BracedList: false
SpaceBeforeParensOptions:
  AfterControlStatements: true
  AfterFunctionDefinitionName: false
  AfterFunctionDeclarationName: false
  BeforeNonEmptyParentheses: false
SpacesInParens: Custom
SpacesInParensOptions:
  ExceptDoubleParentheses: false
  InConditionalStatements: false
  InCStyleCasts: false
  InEmptyParentheses: false
  Other: false
SpacesInSquareBrackets : false
AlignAfterOpenBracket: Align
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
RemoveSemicolon: true
AlignConsecutiveAssignments: Consecutive
AlignEscapedNewlines: Left
AlignOperands: Align
AlignConsecutiveBitFields: Consecutive
AlignConsecutiveDeclarations: Consecutive
AlignConsecutiveMacros: Consecutive
SkipMacroDefinitionBody: true
AlignArrayOfStructures: Left
